:root {
    font-family: sans-serif;
}

#topMenu {
    display: flex;
    justify-content: space-between;
}

#topMenu div {
    display: flex;
    align-items: center;
    gap: 5px;
}

#topMenu div p {
    margin: 0px;
}