.context-menu {
    visibility: hidden;
    position: absolute;
    width: 300px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.context-menu-active {
    visibility: visible;
}

.context-menu .menu {
    padding: 10px 12px;
}

.context-menu .context-menu-item {
    list-style: none;
    font-size: 22px;
    height: 50px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 0 5px 0 10px;
}

.context-menu .context-menu-item:hover {
    background: #f2f2f2;
}

.context-menu .context-menu-item .with-submenu {
    position: relative;
}

.context-menu .sub-menu {
    position: absolute;
    background: #fff;
    width: 200px;
    right: -200px;
    padding: 13px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    transition: 0.2s ease;
}

.with-submenu:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
}