.context-menu {
    visibility: hidden;
    position: absolute;
    width: auto;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.context-menu-active {
    visibility: visible;
}

.context-menu .menu {
    padding: 0px;
    margin: 5px 0px;
}

.context-menu .context-menu-header {
    list-style: none;
    font-size: 12px;
    font-family: 'Lubalin Graph', 'Roboto Slab';
    height: auto;
    padding: 3px 0 3px 10px;
    background-color: #f5f5f5;
}

.context-menu .context-menu-item {
    list-style: none;
    font-size: 16px;
    font-family: 'Lubalin Graph', 'Roboto Slab';
    height: auto;
    display: flex;
    width: 200px;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    padding: 5px 10px;
}

.menu-item-selected {
    font-weight: bold;
}

.menu-item-inactive {
    color: #ccc;
}

.menu-item-inactive img {
    opacity: 0.2;
}

.context-menu .context-menu-item:hover {
    background: #f2f2f2;
}

.context-menu .context-menu-item .with-submenu {
    position: relative;
}

.context-menu .sub-menu {
    position: absolute;
    background: #fff;
    width: 220px;
    right: -220px;
    padding: 5px 0px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

.with-submenu:hover .sub-menu {
    opacity: 1;
    pointer-events: auto;
}

.menu-item-inactive:hover .sub-menu {
    opacity: 0;
    pointer-events: none;
}

.context-menu .sub-sub-menu {
    position: absolute;
    background: #fff;
    width: 220px;
    right: -220px;
    padding: 5px 0px;
    opacity: 0;
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

.sub-menu .with-submenu:hover .sub-sub-menu {
    opacity: 1;
    pointer-events: auto;
}