img {
    width: 24px;
    margin: 0px 10px 0px 0px;
}

.relationsIcon868 > svg {
    width: 57.3px;
}

.relationsIcon612 > svg {
    width: 40.4px;
}

.layoutListRight > svg {
    width: 40.4px;
    margin-right: 26.9px;
}

.layoutListRightBelow > svg {
    width: 33.8px;
    margin-right: 26.9px;
}

.layoutRowRight > svg {
    width: 57.3px;
}

.layoutRowRightBelow > svg {
    width: 50.7px;
}

.layoutCenteredRight > svg {
    width: 40.4px;
    margin-right: 26.9px;
}

.layoutCenteredBelow > svg {
    width: 50.7px;
}